h1, h2 {
  font-family: 'Exo', sans-serif;
  line-height: 40px;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.8em;
  line-height: 18px;
}

li {
  line-height: 150%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

hr {
  padding: 5px;
  border-top: 1px solid #ddd;
}
