body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 22px;
}

h1 {
  font-family: 'Exo', sans-serif;
  font-style: normal;
  font-size: 2.6em;
}

h2 {
  font-family: "Operator Mono A", "Operator Mono B";
  font-style: normal;
  font-weight: 400;
}

li {
  line-height: 22px;
}

hr {
  border-top: 1px solid #ddd;
}
